body {
    font-family: 'Roboto', sans-serif;
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h3 {
    text-align: center;
    color: #34495e;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    color: #2c3e50;
}

button, .button-link {
    background-color: #2980b9;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

    button:hover, .button-link:hover {
        background-color: #3498db;
    }

.flashes {
    list-style-type: none;
    padding: 0;
    color: #e74c3c;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

    .table td, .table th {
        border: 1px solid #ddd;
        padding: 12px;
        font-size: 1em;
        color: #2c3e50;
    }

    .table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .table tr:hover {
        background-color: #f1f1f1;
    }

    .table th {
        padding-top: 14px;
        padding-bottom: 14px;
        text-align: left;
        background-color: #2980b9;
        color: white;
        font-size: 1em;
    }

.home-link {
    display: block;
    margin-top: 20px;
    color: #2980b9;
    text-decoration: none;
    font-size: 1em;
}

    .home-link:hover {
        text-decoration: underline;
        color: #3498db;
    }
